* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

input,
button {
  font-size: inherit;
}

img {
  max-width: 100%;
}

input[type="number"] {
  width: 50px;
}

.card {
  background-color: lightgrey;
  padding: 20px;
  border-radius: 10px;
  margin: 1em 0;
}

.dropdown {
  background-color: hsl(0, 0%, 90%);
  max-height: 30vh;
  overflow: auto;
  border-radius: 1em;
  margin-top: 1em;
}

.dropdown > p {
  padding: 1em;
  margin: 0;
}

.dropdown > p:hover {
  background-color: lightgray;
}
